.options-sec{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.option-btn {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: left;
  background: inherit;
  padding-left: 15px;
  outline: none;
  border: 2px solid #eee;
  font-size: 16px;
  cursor: pointer;
}
.correct {
  border-color: green;
  position: relative;
}
.correct::before{
  content : 'correct';
  position: absolute;
  top:10px;
  right:10px;
  color:green;
  font-size: 13px;
  font-weight: 500;
}
.incorrect {
  border-color: red;
  position: relative;
}
.incorrect::before{
  content : 'incorrect';
  position: absolute;
  top:10px;
  right:10px;
  color:red;
  font-size: 13px;
  font-weight: 500;
}